<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>FFWD</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb864044037405378</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb864044037405378</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FacebookAppID</key>
	<string>864044037405378</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>facebook.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
			<key>fbcdn.net</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>We’d like to access your media library so you can start recording your Scene, finish your profile, and start matching. </string>
	<key>NSCameraUsageDescription</key>
	<string>We’d like to access your camera so you can start recording your Scene, finish your profile, and start matching.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This will accurately give us the city &amp; neighborhood where you’re currently located so that we can find matches near you. We don’t track or share your exact location. </string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This will accurately give us the city &amp; neighborhood where you’re currently located so that we can find matches near you. We don’t track or share your exact location. </string>
	<key>NSMicrophoneUsageDescription</key>
	<string>We’d like to access your microphone so you can start recording your Scene, finish your profile, and start matching.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>We’ll only upload and share your photos on ffwd as part of your profile. </string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We’ll only upload and share your photos on ffwd as part of your profile. </string>
	<key>UIAppFonts</key>
	<array>
		<string>Poppins-Bold.ttf</string>
		<string>Poppins-Italic.ttf</string>
		<string>Poppins-Regular.ttf</string>
		<string>Poppins-Black.ttf</string>
		<string>Poppins-BlackItalic.ttf</string>
		<string>Poppins-BoldItalic.ttf</string>
		<string>Poppins-ExtraBold.ttf</string>
		<string>Poppins-ExtraBoldItalic.ttf</string>
		<string>Poppins-ExtraLight.ttf</string>
		<string>Poppins-ExtraLightItalic.ttf</string>
		<string>Poppins-Light.ttf</string>
		<string>Poppins-LightItalic.ttf</string>
		<string>Poppins-Medium.ttf</string>
		<string>Poppins-MediumItalic.ttf</string>
		<string>Poppins-SemiBold.ttf</string>
		<string>Poppins-SemiBoldItalic.ttf</string>
		<string>Poppins-Thin.ttf</string>
		<string>Poppins-ThinItalic.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5Pro-Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>Ionicons.ttf</string>
		<string>SFUIText-Bold.ttf</string>
		<string>SFUIText-BoldItalic.ttf</string>
		<string>SFUIText-Heavy.ttf</string>
		<string>SFUIText-HeavyItalic.ttf</string>
		<string>SFUIText-Light.ttf</string>
		<string>SFUIText-LightItalic.ttf</string>
		<string>SFUIText-Medium.ttf</string>
		<string>SFUIText-MediumItalic.ttf</string>
		<string>SFUIText-Regular.ttf</string>
		<string>SFUIText-RegularItalic.ttf</string>
		<string>SFUIText-Semibold.ttf</string>
		<string>SFUIText-SemiboldItalic.ttf</string>
		<string>IsidoraSansAlt-Black.ttf</string>
		<string>IsidoraSansAlt-Light.ttf</string>
		<string>IsidoraSansAlt-SemiBold.ttf</string>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Foundation.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
